extends layout

block content
  p Server running
  //- for item in data 
  //-   div.article 
  //-     .article-header 
  //-       |#{item.source} - #{new Date(item.publishedAt*1000).toLocaleDateString('de-AT')} um #{new Date(item.publishedAt*1000).toLocaleTimeString('de-AT', {hour: '2-digit', minute:'2-digit'})}
  //-     .article-content 
  //-       h2 #{item.title}
  //-       p #{item.text}
  //-     .article-footer 
  //-       div   
  //-         a(href=(item.link) target='_blank') Zum vollständigen Artikel auf derstandard.at

